Repository ansible/galaxy_ng, pull requests merged in 2020-05, with the labels that each got.

#141 Update galaxy-importer to latest
  CHANGES/130.misc
  release_requirements.txt
Labels: area/importer, priority/high

#84 Use pulp viewsets for 'v3' and add per repo/distro v3 style endpoints
  galaxy_ng/app/api/urls.py
  galaxy_ng/app/api/v3/serializers.py
  galaxy_ng/app/api/v3/urls.py
  galaxy_ng/app/api/v3/viewsets.py
  galaxy_ng/app/api/views.py
  galaxy_ng/app/models/collectionimport.py
  galaxy_ng/app/settings.py
Labels: area/api, status/in-progress, type/enhancement

#137 Add galaxy dev style artifact download
  galaxy_ng/app/api/urls.py
  galaxy_ng/app/api/v3/urls.py
  galaxy_ng/app/api/v3/viewsets.py
Labels: area/api, status/in-progress

#192 Split v3 modules into sub dirs
  galaxy_ng/app/api/v3/serializers/__init__.py
  galaxy_ng/app/api/v3/serializers/collection.py
  galaxy_ng/app/api/v3/views/__init__.py
  galaxy_ng/app/api/v3/viewsets/__init__.py
  galaxy_ng/app/api/v3/viewsets/collection.py
Labels: area/api, sprint/5
