Repository ansible/galaxy_ng, pull requests merged in 2020-09, with the labels that each got.

#421 Build container image based on RHEL8
  CHANGES/362.feature
  Dockerfile.rhel8
Labels: backport

#432 On changes to golden repo, trigger all synclist tasks
  CHANGES/428.feature
  galaxy_ng/app/api/v3/viewsets/collection.py
Labels: area/api, priority/high, status/fix-committed

#433 [signoff required by 15:00 ET / 19:00 UTC] Release 4.2.0b1
  CHANGES.rst
  CHANGES/117.feature
  CHANGES/120.feature
  CHANGES/17.story
  CHANGES/22.feature
  CHANGES/225.feature
  CHANGES/264.feature
  CHANGES/265.feature
  CHANGES/267.feature
  CHANGES/269.bugfix
  CHANGES/282.feature
  CHANGES/285.feature
  CHANGES/295.feature
  CHANGES/297.misc
  CHANGES/303.feature
  CHANGES/304.feature
  CHANGES/305.feature
  CHANGES/306.feature
  CHANGES/316.feature
  CHANGES/318.bugfix
  CHANGES/330.bugfix
  CHANGES/333.bugfix
  CHANGES/349.misc
  CHANGES/362.feature
  CHANGES/37.feature
  CHANGES/372.feature
  CHANGES/38.feature
  CHANGES/380.feature
  CHANGES/387.bugfix
  CHANGES/389.feature
  CHANGES/397.feature
  CHANGES/403.bugfix
  CHANGES/404.bugfix
  CHANGES/93.feature
  galaxy_ng/__init__.py
Labels: priority/critical, status/in-progress

#502 Better error for invalid filename
  CHANGES/31.bugfix
  galaxy_ng/app/api/v3/serializers/collection.py
Labels: area/api, priority/low, type/bug

#503 Remove excludes from check_pulpcore_includes CI script
  .travis/check_pulpcore_imports.sh
  CHANGES/390.misc
  galaxy_ng/app/tasks/synclist.py
Labels: area/infrastructure, priority/low, status/in-progress
