Repository ansible/galaxy_ng, pull requests merged in 2021-05, with the labels that each got.

#752 Update pulpcore dep to 3.11.1
  .travis/before_install.sh
  CHANGES/563.misc
  requirements/requirements.common.txt
  requirements/requirements.insights.txt
  requirements/requirements.standalone.txt
  setup.py
Labels: backport, backport-4.3, dependencies

#751 Update pulp_ansible dep to 0.7.3
  .travis/before_install.sh
  CHANGES/570.misc
  requirements/requirements.common.txt
  requirements/requirements.insights.txt
  requirements/requirements.standalone.txt
  setup.py
Labels: backport, backport-4.3, dependencies

#758 Temporarily pin stable 4.3 django==2.2.20 workaround
  CHANGES/584.misc
  setup.py
Labels: backport, dependencies

#755 Update pulpcore dep to 3.11.1
  .travis/before_install.sh
  CHANGES/563.misc
  requirements/requirements.common.txt
  requirements/requirements.insights.txt
  requirements/requirements.standalone.txt
  setup.py
Labels: backport, dependencies

#756 Update pulp_ansible dep to 0.7.3
  .travis/before_install.sh
  CHANGES/570.misc
  requirements/requirements.common.txt
  requirements/requirements.insights.txt
  requirements/requirements.standalone.txt
  setup.py
Labels: backport, dependencies

#757 Update all deps
  CHANGES/576.misc
  requirements/requirements.common.txt
  requirements/requirements.insights.txt
  requirements/requirements.standalone.txt
Labels: backport-4.3, dependencies

#761 Remove outdated and incorrect openapi.yaml
  CHANGES/450.bugfix
  openapi/openapi.yaml
  openapi/ui_openapi.yaml
Labels: backport-4.3

#765 Update to galaxy-importer version that uses ansible-core 2.11
  CHANGES/588.feature
  requirements/requirements.common.txt
  requirements/requirements.insights.txt
  requirements/requirements.standalone.txt
  setup.py
Labels: backport-4.3

#772 Rev to django~=2.2.23 for cve and bug fixes.
  CHANGES/583.bugfix
  CHANGES/584.misc
  CHANGES/601.bugfix
  requirements/requirements.common.txt
  requirements/requirements.insights.txt
  requirements/requirements.standalone.txt
  setup.py
Labels: backport-4.3, dependencies

#774 Pin click==7.1.2, click>=8.0.0 req py38
  CHANGES/637.bugfix
  requirements/requirements.common.txt
  requirements/requirements.insights.txt
  requirements/requirements.standalone.txt
  setup.py
Labels: backport-4.3, dependencies

#780 Update pulpcore req to 3.11.2 AAH-647
  .travis/before_install.sh
  CHANGES/647.misc
  requirements/requirements.common.txt
  requirements/requirements.insights.txt
  requirements/requirements.standalone.txt
  setup.py
Labels: backport-4.3, dependencies
