Repository ansible/galaxy_ng, pull requests merged in 2021-07, with the labels that each got.

#826 Add unix socket support to collection version download view
  CHANGES/743.feature
  galaxy_ng/app/api/utils.py
  galaxy_ng/app/api/v3/viewsets/collection.py
  galaxy_ng/app/settings.py
Labels: backport-4.2, backport-4.3

#828 Add unix socket support to collection version download view (#826)
  CHANGES/743.feature
  galaxy_ng/app/api/utils.py
  galaxy_ng/app/api/v3/viewsets/collection.py
  galaxy_ng/app/settings.py
Labels: backport

#820 Add endpoint to return the /excludes/ list from synclists.
  CHANGES/606.misc
  galaxy_ng/app/api/v3/urls.py
  galaxy_ng/app/api/v3/views/__init__.py
  galaxy_ng/app/api/v3/views/excludes.py
Labels: backport-4.3

#821 Replace enqueue_with_reservation with dispatch for pulpcore 3.14.0 compat
  .travis/before_install.sh
  CHANGES/706.bugfix
  Makefile
  dev/docker-compose.yml
  dev/insights/docker-compose.yml
  dev/standalone/docker-compose.yml
  docker/bin/start-resource-manager
  docker/bin/start-worker
  galaxy_ng/app/api/ui/viewsets/my_synclist.py
  galaxy_ng/app/api/v3/serializers/sync.py
  galaxy_ng/app/api/v3/views/sync.py
  galaxy_ng/app/api/v3/viewsets/collection.py
  galaxy_ng/app/migrations/0017_populate_repos_and_remotes.py
  galaxy_ng/app/tasks/promotion.py
  galaxy_ng/app/tasks/synclist.py
  galaxy_ng/tests/functional/api/test_crud_content_unit.py
  galaxy_ng/tests/unit/app/test_tasks.py
  requirements/requirements.common.txt
  requirements/requirements.insights.txt
  requirements/requirements.standalone.txt
  setup.py
Labels: area/tasks

#838 Fix imports filter
  CHANGES/646.bugfix
  galaxy_ng/app/api/ui/viewsets/collection.py
Labels: backport-4.2, backport-4.3

#814 Update to galaxy-importer==0.3.4
  requirements/requirements.common.txt
  requirements/requirements.insights.txt
  requirements/requirements.standalone.txt
  setup.py
Labels: backport-4.3

#783 Make synclist task with policy 'exclude' include all versions not just is_latest AAH-485
  CHANGES/585.bugfix
  galaxy_ng/app/tasks/synclist.py
Labels: area/tasks, backport-4.3, type/bug
