Repository ansible/galaxy_ng, pull requests merged in 2021-04, with the labels that each got.

#710 Expose /pulp/api/v3/status in openapi as used by pulp squeezer
  CHANGES/482.bugfix
  galaxy_ng/app/common/openapi.py
  galaxy_ng/app/settings.py
Labels: area/api

#715 Replace PULP_REDIS* env variables with PULP_REDIS_URL env variable
  CHANGES/486.bugfix
  docker/entrypoint.sh
Labels: backport-4.2

#714 Update stable-4.2 branch to use Django 2.2.20 (AAH-489)
  CHANGES/489.bugfix
  requirements/requirements.common.txt
  requirements/requirements.insights.txt
  requirements/requirements.standalone.txt
  setup.py
Labels: backport, dependencies

#711 Disable django guardian's anonymous user.
  CHANGES/478.misc
  galaxy_ng/app/settings.py
Labels: backport-4.2

#719 Update deps with security updates
  CHANGES/498.bugfix
  requirements/requirements.common.txt
  requirements/requirements.insights.txt
  requirements/requirements.standalone.txt
  requirements/requirements.txt
Labels: backport, dependencies

#740 Update pulp_container dep to 2.5.2
  requirements/requirements.common.txt
  requirements/requirements.insights.txt
  requirements/requirements.standalone.txt
  setup.py
Labels: backport-4.3

#742 Allow users with namespace permissions to update distributions.
  galaxy_ng/app/access_control/statements/pulp_container.py
Labels: backport-4.3

#746 Download correct version of UI during package builds.
  setup.py
Labels: backport-4.3

#748 Improve errors for max length violations in collection filename import
  CHANGES/428.bugfix
  galaxy_ng/app/api/utils.py
Labels: backport-4.3
