Repository ansible/galaxy_ng, pull requests merged in 2021-09, with the labels that each got.

#932 Rename make requirements commands and have them be consistent
  Makefile
Labels: backport-4.2, backport-4.3

#933 Rename make requirements commands and have them be consistent (#932)
  Makefile
Labels: backport

#934 Rename make requirements commands and have them be consistent (#932)
  Makefile
Labels: backport

#1000 Fix permission check on container sync endpoint.
  galaxy_ng/app/access_control/access_policy.py
  galaxy_ng/app/access_control/statements/standalone.py
  galaxy_ng/app/api/ui/views/sync.py
Labels: backport-4.4
