Repository ansible/galaxy_ng, pull requests merged in 2022-11, with the labels that each got.

#1521 Fix AttributeError in index_registry task
  CHANGES/1966.bugfix
  galaxy_ng/app/tasks/index_registry.py
Labels: backport-4.2, backport-4.4, backport-4.5, backport-4.6

#1548 Add content_guard to validated repo's distro via migration
  CHANGES/2038.bugfix
  galaxy_ng/app/migrations/0033_update_validated_repo.py
  galaxy_ng/tests/integration/api/test_artifact_download.py
Labels: backport-4.6

#1331 Add django script to manage users in group
  galaxy_ng/app/management/commands/manage-group-users.py
Labels: area/api
