Repository ansible/galaxy_ng, pull requests merged in 2022-10, with the labels that each got.

#1474 Update pulp ci to use older image
  .ci/ansible/Containerfile.j2
Labels: backport-4.6

#1478 Improve skipping the validate_commit_message check
  .ci/scripts/validate_commit_message_custom.py
Labels: backport-4.4, backport-4.5, backport-4.6

#1481 Update pulp plugin_template
  .ci/ansible/Containerfile.j2
  .ci/ansible/start_container.yaml
  .ci/assets/bindings/.gitkeep
  .github/template_gitref
  .github/workflows/scripts/before_script.sh
  .github/workflows/scripts/install.sh
  .github/workflows/scripts/post_before_script.sh
  .github/workflows/scripts/script.sh
  .github/workflows/scripts/utils.sh
Labels: backport-4.6

#1489 Upgrade pulp_container to 2.14.1
  .github/template_gitref
  .github/workflows/scripts/before_install.sh
  .github/workflows/scripts/install.sh
  .github/workflows/scripts/script.sh
  CHANGES/1950.misc
  requirements/requirements.common.txt
  requirements/requirements.insights.txt
  requirements/requirements.standalone.txt
  setup.py
  template_config.yml
Labels: backport-4.6

#1465 Inject context to filter signatures based on distro.repository
  CHANGES/1941.bugfix
  galaxy_ng/app/access_control/statements/insights.py
  galaxy_ng/app/access_control/statements/standalone.py
  galaxy_ng/app/api/ui/serializers/collection.py
  galaxy_ng/app/api/ui/viewsets/collection.py
  galaxy_ng/app/api/v3/urls.py
  galaxy_ng/app/api/v3/viewsets/__init__.py
  galaxy_ng/app/api/v3/viewsets/collection.py
  galaxy_ng/tests/integration/api/test_collection_signing.py
  galaxy_ng/tests/integration/api/test_move.py
  galaxy_ng/tests/integration/utils/__init__.py
  galaxy_ng/tests/integration/utils/collections.py
Labels: backport-4.5, backport-4.6

#1493 Bypass social_core's randomized username creation when a user exists.
  galaxy_ng/app/dynaconf_hooks.py
  galaxy_ng/social/pipeline/__init__.py
  galaxy_ng/social/pipeline/user.py
  galaxy_ng/tests/integration/api/test_community.py
  galaxy_ng/tests/integration/utils/__init__.py
  galaxy_ng/tests/integration/utils/users.py
Labels: backport-4.2, backport-4.4, backport-4.5, backport-4.6

#1492 Changelog entry for v1 addition
  CHANGES/1812.feature
Labels: backport-4.6

#1470 Set CacheControl hdrs directives no-cache on login
  CHANGES/1323.bugfix
  galaxy_ng/app/api/ui/views/auth.py
  galaxy_ng/tests/integration/api/test_ui_paths.py
Labels: area/api, type/bug

#1503 Remove dependency pin for ansible-lint
  requirements/requirements.common.txt
  requirements/requirements.insights.txt
  requirements/requirements.standalone.txt
  setup.py
Labels: backport-4.6

#1515 Fix broken migration
  CHANGES/1994.bugfix
  galaxy_ng/app/migrations/0029_move_perms_to_roles.py
Labels: backport-4.6

#1513 Upgrade to pulpcore 3.21.1
  .github/template_gitref
  .github/workflows/scripts/before_install.sh
  .github/workflows/scripts/install.sh
  .github/workflows/scripts/script.sh
  CHANGES/1920.misc
  requirements/requirements.common.txt
  requirements/requirements.insights.txt
  requirements/requirements.standalone.txt
  setup.py
  template_config.yml
Labels: backport-4.6

#1511 Add option to customize ldap group params
  CHANGES/1957.bugfix
  dev/standalone-ldap/galaxy_ng.env
  docs/config/options.md
  docs/integration/ldap.md
  galaxy_ng/app/dynaconf_hooks.py
  galaxy_ng/tests/integration/api/test_ldap.py
Labels: backport-4.5, backport-4.6
