Repository ansible/galaxy_ng, pull requests merged in 2024-09, with the labels that each got.

#2251 More test GW skipping
  galaxy_ng/tests/integration/api/test_auth.py
  galaxy_ng/tests/integration/dab/test_dab_rbac_contract.py
  galaxy_ng/tests/integration/dab/test_ui_v2.py
Labels: multi-commit

#2257 Add CI upload junit xml test results
  .github/workflows/ci_full.yml
  dev/playbooks/files/run_units.sh
Labels: multi-commit

#2266 Make a simple/self-contained docker-compose to use for AAP dev.
  MANIFEST.in
  aap_compose_dev.yaml
  dev/nginx/nginx.conf
  profiles/dab/make_test_data.py
Labels: multi-commit

#2246 Add communication details
  README.md
  docs/community/api_v3.md
  docs/community/devstack.md
  docs/community/overview.md
  docs/usage_guide/execution_environments.md
Labels: multi-commit

#2271 Merge unique auth classes in the keycloak dynaconf hook.
  galaxy_ng/app/dynaconf_hooks.py
  galaxy_ng/tests/unit/app/test_dynaconf_hooks.py
  profiles/keycloak/pulp_config.env
Labels: multi-commit

#2274 [RBAC] failed grouprole permission migrations fix
  galaxy_ng/app/migrations/_dab_rbac.py
Labels: multi-commit, backport-4.10

#2278 Update CI workflow for collection testing
  .github/workflows/ci_automation_hub_collection.yml
  dev/galaxy_collection_plays/content.yml
  dev/galaxy_collection_plays/ee.yml
  dev/galaxy_collection_plays/galaxy.yml.j2
  dev/galaxy_collection_plays/repo.yml
  dev/galaxy_collection_plays/user.yml
  dev/galaxy_collection_plays/vars.yml
Labels: backport-4.10
