Repository ansible/galaxy_ng, pull requests merged in 2025-05, with the labels that each got.

#2560 Fix duplicated entry_points
  Dockerfile
Labels: backport-4.9, backport-4.10

#2561 fix: Bump dynaconf to 3.2.11
  requirements/requirements.common.txt
  requirements/requirements.insights.txt
  requirements/requirements.standalone.txt
  setup.py
Labels: backport-4.10

#2567 Add reload option to docker binaries
  dev/compose/Dockerfile.dev
  docker/bin/start-api
  docker/bin/start-content-app
  docker/bin/start-worker
Labels: backport-4.10

#2573 Make ContainerDistribution private
  galaxy_ng/app/api/ui/v1/serializers/execution_environment.py
Labels: backport-4.9, backport-4.10

#2579 Remove references to old galaxy
  galaxy_ng/app/api/v1/serializers.py
  galaxy_ng/app/management/commands/sync-collection-download-counts.py
  galaxy_ng/app/management/commands/sync-galaxy-collections.py
  galaxy_ng/app/management/commands/sync-galaxy-namespaces.py
  galaxy_ng/app/management/commands/sync-galaxy-roles.py
  galaxy_ng/app/utils/galaxy.py
  galaxy_ng/tests/integration/cli/test_community_sync.py
  galaxy_ng/tests/integration/community/test_community_api.py
Labels: backport-4.9, backport-4.10

#2577 Bump pulpcore
  requirements/requirements.common.txt
  requirements/requirements.insights.txt
  requirements/requirements.standalone.txt
  setup.py
Labels: backport-4.10

#2592 [stable-4.10] Enable vscode debugging (#2588)
  dev/compose/Dockerfile.dev
  dev/compose/aap.yaml
  dev/compose/certified-sync.yaml
  dev/compose/community.yaml
  dev/compose/insights.yaml
  dev/compose/standalone.yaml
  docker/bin/start-api
  docker/bin/start-content-app
  docker/bin/start-worker
Labels: backport-4.9
